:root {
    --moderate-violet: hsl(263, 55%, 52%);
    --very-dark-grayish-blue: hsl(217, 19%, 35%);
    --very-dark-blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --light-gray: hsl(0, 0%, 81%);
    --light-grayish-blue: hsl(210, 46%, 95%);

    --fw-bold: 600;
    --fw-semi-bold: 500;
    --fw-regular: 400;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: .8125rem;
    line-height: 1.4;
    background-color: var(--light-grayish-blue);
    color: var(--white);
}


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* typograhy */

.daniel {
    background-color: var(--moderate-violet);
    background-image: url(images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right;
}

.jonathan {
    background-color: var(--very-dark-grayish-blue);
}

.similar {
    background-color: var(--white);
    color: var(--very-dark-blackish-blue);
}

.patrick {
    background-color: var(--very-dark-blackish-blue);
}

.name {
    font-weight: var(--fw-bold);
}

.verified {
    opacity: 50%;
}

.review {
    opacity: 70%;
}

.description {
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
}


/* layout */

main {
    display: grid;
    place-items: center;
}

.container {
    padding-inline: 1rem;
    padding-block: 3rem;
    max-width: 1000px;
}

.testimonials {
    display: grid;
    gap: 1rem; 
}

.card {
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;

    & img {
        width: 40px;
        aspect-ratio: 1;
        border-radius: 50%;
    }
}


@media (min-width: 650px) {
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }

    .daniel {
        grid-row: span 2;
    }
}

@media (min-width: 960px) {
    .testimonials{
        grid-template-columns: repeat(4, 1fr);
    }

    .daniel {
        grid-row: span 1;
        grid-column: span 2;
    }

    .similar:last-child {
        grid-area: 1 / 4 / span 2 / 5;
    }

    .patrick {
        grid-column: span 2;
    }
}
